/* -*- mode: css; -*- */

configuration {
    show-icons: true;
    cycle:      true;
    monitor:    "-4";

    sidebar-mode:   true;
    matching:       "normal";
}

* {
    accent:   #9f63f6;
    bg:       #1E2029FA;
    bg-focus: #282a36;
    bg-dark:  #181a23;
    fg:       #BBC2CF;
    fg-list:  #BBC2CF;
    on:       #8BD49C;
    off:      #cc6666;

    background-color: transparent;
    text-color: @fg-list;
    border-color: @bg-dark;

    font: "SF Pro 16";
    icon-font: "FiraCode Nerd Font 22";
}

window {
    location: center;
    anchor:   north;
    y-offset: -300px;
    width:    800px;
    border:   1px;
    border-radius: 6px 6px 0 0;

    children:  [inputbar, listview];
}

inputbar {
    children: [ textbox-icon, prompt, entry ];
    border: 0 0 0;
}
textbox-icon, prompt {
    padding: 11px;
    expand:  false;
    border:  0 1px 0 0;
    margin:  0 -2px 0 0;
}
textbox-icon, {
    padding: 9px 4px 0;
}
entry, element {
    padding: 10px 13px 10px;
}
textbox {
    padding: 24px;
    margin: 20px;
}
element-icon {
    padding: 0 12px 0 0;
}

listview {
    lines: 12;
    fixed-height: false;
    scrollbar: true;
    spacing: 1px;
    margin: -2px 0 0;
}
scrollbar {
    handle-width: 1px;
}

scrollbar {
    background-color: @bg-dark;
    handle-color: @accent;
    border-color: @bg-dark;
}
listview, inputbar {
    background-color: @bg-dark;
}
textbox-icon, prompt, entry {
    text-color: @accent;
}
prompt, entry {
    background-color: @bg-focus;
}
textbox-icon, prompt {
    background-color: #2f313d;
}
prompt {
    background-color: @bg-focus;
}
textbox-icon {
    font: @icon-font;
}
entry {
    text-color: @fg;
}
element {
    background-color: @bg;
    text-color: @fg;
}
element-text {
  background-color: inherit;
  text-color: inherit;
}
element-icon {
    size: 26;
    background-color: inherit;
}
element selected {
    background-color: @bg-dark;
    text-color: @accent;
}
