/* -*- mode: css; -*- */

@import "obsidian.rasi"

window {
  children: [ listview ];
  width: 300px;
}

listview {
  scrollbar: false;
}

element {
  padding: 40px 20px 40px;
  background-color: @bg;
}
element selected {
  background-color: @accent;
  text-color: @bg;
}
