[Unit]
Description=Hyprland compositor session
Documentation=man:Hyprland(1)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
Wants=waybar.service
Before=waybar.service
