[Unit]
Description=Dynamic display configuration for Wayland
Documentation=https://git.sr.ht/~emersion/kanshi
BindsTo=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=hyprland-session.target
