[Unit]
Description=Polkit authorization manager
Documentation=man:polkit(8)
BindsTo=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-kde-authentication-agent-1

[Install]
WantedBy=hyprland-session.target
