[Unit]
Description=Dynamic display configuration for Wayland
Documentation=https://gitlab.com/w0lff/shikane
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/shikane

[Install]
WantedBy=graphical-session.target
