{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $external := index .MonitorsByTag "external" -}}

monitorv2 {
    output = {{$laptop.Name}}
    mode = 1920x1200
    position = 960x2160
    scale = 1
    bitdepth = 8
}

monitorv2 {
    output = {{$external.Name}}
    mode = 3840x2160
    position = 0x0
    scale = 1
    bitdepth = 8
}

workspace = 1, monitor:{{$external.Name}}
workspace = 2, monitor:{{$external.Name}}
workspace = 3, monitor:{{$external.Name}}
workspace = 4, monitor:{{$external.Name}}
workspace = 5, monitor:{{$laptop.Name}}
workspace = 10, monitor:{{$laptop.Name}}
